# Proyecto End to End de Machine Learning 
### Viviendas en venta en Madrid

![imagen idealista fachada](../img/imagenEDA_idealista-fachada.jpg)

Se recaban datos de la web idealista, en febrero de 2025. Se trata de pisos en venta, de la ciudad de Madrid, sus 21 distritos.

![imagen total viviendas idealista Madrid](../img/idealista_num_viv(02.03.2025).jpg)

<img src="../img/idealista_num_viv(02.03.2025).jpg" alt="imagen total viviendas idealista Madrid" width="600">

<img src="../img/idealista_num_viv(03.03.2025).jpg" alt="imagen total viviendas idealista Madrid" width="600">

El número de viviendas cambia diariamente, como era de suponer.
Finalmente, voy a trabajar con las viviendas del distrito Centro, que en fecha de hoy (9-marzo-2025) son 1792.

Este primer jupiter notebook contiene todo lo relativo a la carga de los datos, mediante web scraping de la web idealista.

Llegará hasta el punto 3, donde se realiza la división en train y test, o eso creo

## 0. Librerías

In [1]:
# importación agrupada de librerías necesarias en este notebook
import pandas as pd
import numpy as np

import sys
import os
import re

import urllib.request
from PIL import Image
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

## 1. Carga datos

### Datos anteriores, obtenidos desde Kaggle

In [ ]:
previo_ejemplo = pd.read_csv('../data/raw/idealista_Madrid_Kaggle.csv')
previo_ejemplo.head(1)

,url,listingUrl,title,id,price,baths,rooms,sqft,description,address,typology,advertiserProfessionalName,advertiserName
0,https://www.idealista.com/inmueble/104027174/,https://www.idealista.com/venta-viviendas/madr...,Piso en venta en calle de Villanueva,104027174,1920000,3,3,183,Residencia única con acabados de la más alta c...,"Recoletos, Madrid",Pisos,Promora Madrid,Promora Madrid

### Obtención de datos "nuevos": Web Scraping Idealista

In [2]:
viv_Mad = pd.read_csv('../data/raw/idealista_Madrid-Ciudad(Centro)_2025-03-10.csv')
viv_Mad.head(1)

,propertyCode,thumbnail,externalReference,numPhotos,floor,price,priceInfo,propertyType,operation,size,...,has3DTour,has360,hasStaging,highlight,savedAd,notes,topNewDevelopment,topPlus,parkingSpace,newDevelopmentFinished
0,107526421,https://img4.idealista.com/blur/WEB_LISTING/0/...,GH202391,43,3,1095000.0,"{'price': {'amount': 1095000.0, 'currencySuffi...",flat,sale,146.0,...,True,False,False,{'groupDescription': 'Top+'},{},[],False,True,NaN,NaN

In [ ]:
# realizo siempre una copia para recuperar el df por si lo rompo
df = viv_Mad.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1792 entries, 0 to 1791
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   propertyCode            1792 non-null   int64
 1   thumbnail               1777 non-null   object
 2   externalReference       1351 non-null   object
 3   numPhotos               1792 non-null   int64
 4   floor                   1727 non-null   object
 5   price                   1792 non-null   float64
 6   priceInfo               1792 non-null   object
 7   propertyType            1792 non-null   object
 8   operation               1792 non-null   object
 9   size                    1792 non-null   float64
 10  exterior                1768 non-null   object
 11  rooms                   1792 non-null   int64
 12  bathrooms               1792 non-null   int64
 13  address                 1792 non-null   object
 14  province                1792 non-null   object
 15  municipality            1792 non-null   object
 16  district                1792 non-null   object
 17  country                 1792 non-null   object
 18  neighborhood            1792 non-null   object
 19  latitude                1792 non-null   float64
 20  longitude               1792 non-null   float64
 21  showAddress             1792 non-null   bool
 22  url                     1792 non-null   object
 23  description             1792 non-null   object
 24  hasVideo                1792 non-null   bool
 25  status                  1787 non-null   object
 26  newDevelopment          1792 non-null   bool
 27  hasLift                 1786 non-null   object
 28  priceByArea             1792 non-null   float64
 29  change                  1792 non-null   object
 30  detailedType            1792 non-null   object
 31  suggestedTexts          1792 non-null   object
 32  hasPlan                 1792 non-null   bool
 33  has3DTour               1792 non-null   bool
 34  has360                  1792 non-null   bool
 35  hasStaging              1792 non-null   bool
 36  highlight               781 non-null    object
 37  savedAd                 1792 non-null   object
 38  notes                   1792 non-null   object
 39  topNewDevelopment       1792 non-null   bool
 40  topPlus                 1792 non-null   bool
 41  parkingSpace            98 non-null     object
 42  newDevelopmentFinished  37 non-null     object
dtypes: bool(9), float64(5), int64(4), object(25)
memory usage: 491.9+ KB

## 2. Definición del problema de Machine Learning

Mi problema de ML consiste en 'predecir' el precio de una vivienda dadas sus características. A aplicar a viviendas nuevas que aparezcan, en el futuro (problema asociado a la evolución de los precios en el tiempo). Se trata entonces de un modelo de regeresión, sin series temporales ni redes neuronales.

## 3. División en train y test
(resevar una porción de los datos obtenidos para probar nuestros modelos)

En este caso real, procede lo primero, guardar estos datos para test, sin tocarlos hasta el final. 
Por otro lado, en los datos que nos quedamos, separaremos en train y validation, para hacer las pruebas y escoger el mejor modelo, con el que predeciremos el conjunto reservado test al final.

In [31]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('price', axis=1),
                                                    df['price'],
                                                    test_size=0.2,
                                                    random_state=42)

## 4. Target

Dentro de este primer analisis exploratorio de los datos, revisamos la target, para ver en nuestro problema de regresión, si esta tiene una distribución normal o asimétrica.

## 5. Comprensión de variables (features)